@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Courgette&display=swap');

$russoOne: 'Comfortaa', cursive;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
nav,
li,
ul,
button {
    font-family: $russoOne;
    font-weight: normal;
}