.card {
    &-title {
        border-bottom: 1px solid black;

        &-name {
            padding: 1rem;
            margin-bottom: 0;
        }
    }
}

.card-container {}

.card-img {
    padding: 1rem;
}

.animate {
    animation: animate 1s ease 0s 1 normal forwards;
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}