@use "../../assets/fonts/fonts";

.menu {
    &-buttons {




        &-normal {
            background-color: #A8A77A;


        }

        &-fire {
            background-color: #EE8130;

        }

        &-flying {
            background-color: #A98FF3;

        }

        &-psychic {
            background-color: #F95587;

        }

        &-water {
            background-color: #6390F0;

        }

        &-bug {
            background-color: #A6B91A;

        }

        &-grass {
            background-color: #7AC74C;

        }

        &-rock {
            background-color: #B6A136;

        }

        &-electric {
            background-color: #F7D02C;

        }

        &-ghost {
            background-color: #735797;

        }

        &-ice {
            background-color: #96D9D6;

        }

        &-dark {
            background-color: #705746;

        }

        &-fighting {
            background-color: #C22E28;

        }

        &-dragon {
            background-color: #6f35fc;

        }

        &-poison {
            background-color: #a33ea1;


        }

        &-steel {
            background-color: #B7B7CE;

        }

        &-ground {
            background-color: #E2BF65;

        }

        &-fairy {
            background-color: #D685AD;

        }








    }
}

.info-container {
  margin: 0.5rem 0;
}

.info-card {
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.info-card span {
  margin: 0;
}

.time-expiring {
  background-color: #ff0000; /* Red background for urgency */
  animation: flash 1s infinite; /* Flash animation */
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}