@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
  }
  @keyframes shake-bottom{
    0%, 100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
}
20%, 40%, 60% {
  transform: rotate(-4deg);
}
30%, 50%, 70% {
  transform: rotate(4deg);
}
80% {
  transform: rotate(-2deg);
}
90% {
  transform: rotate(2deg);
}
  }


  .hover\:rainbow:hover {
    animation: rainbow 1s linear infinite;
  }
  .shakeButton{
    animation: shake-bottom .8s cubic-bezier(.455,.03,.515,.955) infinite both;
  }