@use "../../assets/fonts/fonts";

.home {
    height: 100vh;
    background:

        url(../../assets/images/VHH1EMf-free-pokemon-wallpaper.jpg);
    background-size: cover;


    &-container {
        padding-top: 5rem;
    }
}



